<div class="p-4 bg-white">
  <div>
    <h4 class="mb-3 mb-md-0">Dashboard</h4>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <h6>Bienvenido a All Meal.</h6>
      <p>
        Sientáse comodo de navegar por este sistema, al lado izquierdo puede
        encontrar el menú con cada funcionalidad.
      </p>
      <p>
        Recuerde ingresar las opciones para el menú de almuerzo diariamente.
      </p>
      <p>
        Recuerde ingresar los pedidos dentro de la hora especificada según su
        supervisor.
      </p>
    </div>
  </div>
</div>
